#aboutSlider {
  position: relative;
  padding: 4rem 0;

  @media (max-width: 767px) {
    padding: 2.285714285714286rem 0;
  }

  .mainSlider {
    width: 67.28571428571429rem;
    height: 28.57142857142857rem;
    position: relative;
  }

  .imageSlider {
    width: 22.71428571428571rem;
    height: 28.57142857142857rem;
    overflow: hidden;
    position: relative;
    border-radius: 1.142857142857143rem;
    margin: 0;
    z-index: 1;

    .swiper-slide {
      display: flex;
      flex-wrap: nowrap;
      gap: 24px;

      .img {
        position: relative;
        aspect-ratio: 318 / 400;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        opacity: 0;
      }
    }

    .swiper-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .textSlider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    .swiper-slide {
      padding-left: 24.42857142857143rem;
      background: #FFFFFF;

      .data {
        display: flex;
        flex-direction: column;

        .num {
          margin-bottom: 0.8571428571428571rem;
          font-weight: 500;
          letter-spacing: -0.0285714285714286rem;
        }

        .title {
          font-size: 3rem;
          line-height: 3.428571428571429rem;
          letter-spacing: -0.1428571428571429rem;
          font-weight: 500;
        }

        .description {
          width: 22.8rem;
          margin-top: 1.714285714285714rem;
          letter-spacing: -0.0285714285714286rem;
        }
      }
    }
  }

}