#callbackOrder {
  position: relative;
  //padding: 8.571428571428571rem 0 2.857142857142857rem;
  padding: 3.857142857142857rem 0 2.857142857142857rem 0;
  background: #4C5866;
  border-radius: 1.142857142857143rem;
  overflow: hidden;
  color: #FFFFFF;

  @media (max-width: 767px) {
    //padding: 2.285714285714286rem 0 0;
    padding: 3.285714rem 0 2.2857142857rem 0;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -50%;
    background: rgba(215, 215, 215, 10.05);
    background: linear-gradient(180deg, rgba(215, 215, 215, 0.25) 0%, rgba(46, 58, 72, 0.32) 37%, rgba(233, 73, 44, 0.7) 100%);
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .title {
    width: 58.57142857142857rem;
    margin-bottom: 10rem;

    @media (max-width: 767px) {
      width: 25.57142857142857rem;
      margin-bottom: 2.857142857142857rem;
    }

    h2 {
      font-size: 5.357142857142857rem;
      line-height: 5.714285714285714rem;
      letter-spacing: -0.3285714285714286rem;
      font-weight: 500;
      @media (max-width: 767px) {
        font-size: 2.857142857142857rem;
        line-height: 2.571428571428571rem;
        letter-spacing: -0.1428571428571429rem;
      }
    }
  }

  .name {
    position: absolute;
    top: 0.5rem;
    right: 3.428571428571429rem;
    display: flex;
    flex-direction: column;
    span {
      font-weight: 400;
      font-size: 1.285714285714286rem;
      line-height: 2.142857142857143rem;
      letter-spacing: -0.0571428571428571rem;
    }

    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.4285714285714286rem;
      &:last-child {
        margin-left: 1rem;
      }

      .dot {
        width: 0.5714285714285714rem;
        height: 0.5714285714285714rem;
        border-radius: 50%;
        background: #E9492C;
      }
    }

    @media (max-width: 767px) {
      position: relative;
      top: initial;
      right: initial;
      margin-top: 4.571428571428571rem;
      margin-bottom: 0.5714285714285714rem;

      div {
        &:last-child {
          margin-left: 1rem;

          span {
            font-size: 1rem;
            line-height: 1.428571428571429rem;
          }
        }
      }

    }
  }

  .denis {
    position: absolute;
    bottom: -2.857142857142857rem;
    right: 16.5rem;
    width: 31.78571428571429rem;
    height: 36.85714285714286rem;

    @media (max-width: 767px) {
      position: relative;
      bottom: 0;
      left: initial;
      right: initial;
      width: 25.57142857142857rem;
      height: 29.57142857142857rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}