.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 1.428571428571429rem;
  padding: 1.785714285714286rem 0;
  margin: 3.428571428571429rem -3.428571428571429rem 0;
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;

  @media (max-width: 767px) {
    gap: 2.285714285714286rem;
    padding: 1.142857142857143rem 0;
    margin: 2.285714285714286rem -1.142857142857143rem 0;
  }

  .img {
    position: relative;
    width: 26.07142857142857rem;
    height: 4.285714285714286rem;

    @media (max-width: 767px) {
      width: 7.142857142857143rem;
      height: 2.285714285714286rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    @media (min-width: 768px) {
      filter: grayscale(1);
      transition: all 0.2s;

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.428571428571429rem;
  min-width: 100%;
  animation: scroll-x 40s linear infinite;

  @media (max-width: 767px) {
    gap: 2.285714285714286rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1.428571428571429rem));
  }
}

@media (max-width: 767px) {
  @keyframes scroll-x {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 2.285714285714286rem));
    }
  }
}

@media (min-width: 768px) {
  .marquee:hover .marquee__group {
    animation-play-state: paused;
  }
}
