#partners {
  position: relative;
  padding: 8.571428571428571rem 0 4.285714285714286rem;
  overflow: hidden;

  @media (max-width: 767px) {
    padding: 4.571428571428571rem 0 2.285714285714286rem;
  }



}