#youCompany {
  position: relative;
  padding: 4.285714285714286rem 0 8.571428571428571rem;
  overflow: hidden;

  @media (max-width: 767px) {
    padding: 2.285714285714286rem 0 4.571428571428571rem;
  }

  .title {
    margin-bottom: 5.714285714285714rem;

    @media (max-width: 767px) {
      margin-bottom: 2.285714285714286rem;
    }
  }

  .items_list {
    display: flex;
    flex-direction: column;
    gap: 3.428571428571429rem;

    @media (max-width: 767px) {
      gap: 2.285714285714286rem;
    }

    .item {
      display: flex;
      flex-direction: row;
      gap: 1.714285714285714rem;

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 1.142857142857143rem;
      }

      .item_img {
        flex: 0 0 30.85714285714286rem;
        width: 30.85714285714286rem;
        height: 21.42857142857143rem;
        border-radius: 0.5714285714285714rem;
        overflow: hidden;

        @media (max-width: 767px) {
          flex: auto;
          width: 25.57142857142857rem;
          height: 17.78571428571429rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .item_data {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.714285714285714rem;

        .text {

          h3 {
            font-size: 3rem;
            line-height: 3.428571428571429rem;
            letter-spacing: -0.1428571428571429rem;
            font-weight: 500;

            @media (max-width: 767px) {
              font-size: 1.571428571428571rem;
              line-height: 2.285714285714286rem;
              letter-spacing: -0.0857142857142857rem;
            }
          }

          div {
            margin-top: 1.714285714285714rem;
            width: 30.78571428571429rem;

            @media (max-width: 767px) {
              margin-top: 0.5714285714285714rem;
              width: 25.57142857142857rem;
            }
          }

        }
      }

    }
  }
}