// Normalize.css
@import '../../node_modules/normalize.css/normalize';
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import 'swiper-gl.min';
@import 'fonts';

// Переменны (цвета, скорость transition и пр)
@import 'variables';

@import 'pc';

@import 'header';
@import 'preloader';
@import 'marquee';
@import 'form';
@import 'hero';
@import 'aboutSlider';
@import 'aboutCompany';
@import 'story';
@import 'tariffs';
@import 'clients';
@import 'partners';
@import 'callbackOrder';
@import 'services';
@import 'youCompany';
@import 'youGet';
@import '1day';
@import 'footer';
@import 'modal';

* {
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;

  font-size: $mobile_font_size;

  @media (min-width: 768px) {
    font-size: $pc_font_size;
  }
}

body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  overflow-x: hidden;
  font-family: $main_font;
  font-size: 1rem;
  line-height: 1.428571428571429;
  padding: 0;

  * {
    letter-spacing: -0.02rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .smooth-wrapper {
    min-height: 100%;
    z-index: 2;
  }

  .smooth-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  main {
    flex: 1 0 auto;
    padding: 3.7142857143rem 0 0;

    @media (min-width: 768px) {
      padding: 6.8571428571rem 0 0;
    }
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 1.142857142857143rem;

    @media (min-width: 768px) {
      padding: 0 3.428571428571429rem;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7142857142857143rem;
  height: 3.428571428571429rem;
  padding: 0 2rem;
  border-radius: 0.5714285714285714rem;
  background: #E9492C;
  color: #FFFFFF;
  line-height: 1;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid #D7D7D7;

  @media (max-width: 767px) {
    height: 2.857142857142857rem;
    padding: 0.7142857142857143rem;
  }

  &--border {
    background: transparent;
    border: 1px solid #D7D7D7;
    color: #000000;
  }

  img {
    width: 1.428571428571429rem;
    height: 1.428571428571429rem;
  }

  span {
    line-height: 1.428571428571429rem;
    font-weight: 500;
  }
}

.link {
  text-decoration: none;
  font-size: 1rem;

  &--orange {
    color: #E9492C;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1.714285714285714rem;

  h2 {
    //font-family: NeverMindUltra, sans-serif;
    //font-size: 3.428571428571429rem;
    //line-height: 5.714285714285714rem;
    //letter-spacing: -0.1142857142857143rem;
    //font-weight: 500;
    //
    //@media (max-width: 767px) {
    //  font-size: 1.714285714285714rem;
    //  line-height: 2.571428571428571rem;
    //  letter-spacing: -0.0571428571428571rem;
    //}

    font-size: 5.357142857142857rem;
    line-height: 5.714285714285714rem;
    letter-spacing: -0.3285714285714286rem;
    font-weight: 500;
    @media (max-width: 767px) {
      font-size: 2.857142857142857rem;
      line-height: 2.571428571428571rem;
      letter-spacing: -0.1428571428571429rem;
    }

    span {
      color: #E9492C;
    }
  }

  .subtitle {
    width: 22.71428571428571rem;
  }

  &--white {
    color: #FFFFFF;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.714285714285714rem;

  @media (max-width: 768px) {
    gap: 1.142857142857143rem;
  }

  input, textarea {
    width: 100%;
    background: #FAFAFA;
    border: none;
    border-radius: 0.5714285714285714rem;
    font-size: 1rem;
    line-height: 1.428571428571429rem;
    padding: 1rem;
    resize: none;

    @media (max-width: 768px) {
      border-radius: 0.5714285714285714rem;
      padding: 0.7142857142857143rem 1.142857142857143rem;
    }

    &::placeholder {
      color: #BBBBB7;
      @media (max-width: 768px) {
        color: #4C5866;
      }
    }
  }

  &.was-validated .approve input:invalid + span {
    color: #E9492C;

    &:before {
      border: 0.0714285714285714rem solid #E9492C;
    }

    a {
      color: #E9492C;
    }
  }

  textarea {
    height: 9.142857142857143rem;
  }

  .form-check {
    border: none;
    padding-left: 0;
  }

  .invalid-feedback {
    color: #E9492C;
  }

  .button {
    width: 100%;
  }

  &.was-validated input[type='text']:invalid {
    background: #ffefec;
  }
}