// Normalize.css
@import '../../node_modules/normalize.css/normalize';
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import 'swiper-gl.min';
@import 'fonts';

// Переменны (цвета, скорость transition и пр)
@import 'variables';

@import 'pc';

@import 'header';
@import 'preloader';
@import 'hero';
@import 'aboutSlider';
@import 'footer';

* {
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;

  font-size: $mobile_font_size;

  @media (min-width: 768px) {
    font-size: $pc_font_size;
  }
}

body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  overflow-x: hidden;
  font-family: $main_font;
  font-size: 1rem;
  line-height: 1.428571428571429;
  padding: 0;

  * {
    letter-spacing: -0.02rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .smooth-wrapper {
    min-height: 100%;
    z-index: 2;
  }

  .smooth-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  main {
    flex: 1 0 auto;
    padding: 3.7142857143rem 0 0;

    @media (min-width: 768px) {
      padding: 6.8571428571rem 0 0;
    }
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 1.142857142857143rem;

    @media (min-width: 768px) {
      padding: 0 3.428571428571429rem;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 3.428571428571429rem;
  padding: 0 2rem;
  border-radius: 0.5714285714285714rem;
  background: #E9492C;
  color: #FFFFFF;
  line-height: 1;
  backdrop-filter: blur(10px);
  cursor: pointer;

  @media (max-width: 767px) {
    height: 2.857142857142857rem;
    padding: 0.7142857142857143rem;
  }

  &--border {
    background: transparent;
    border: 1px solid #D7D7D7;
    color: #000000;
  }

  span {
    line-height: 1.428571428571429rem;
    font-weight: 500;
  }
}

.link {
  text-decoration: none;
  font-size: 1rem;

  &--orange {
    color: #E9492C;
  }
}
